.dcHeader {
	display: flex;
	position: relative;
	background: #A52526;
	color: white;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
	padding: 17px 0;
}

.dcHeaderMeat, .dcHeaderCheese{
	flex: 1;
	align-self: center;
}

.dcHeaderAmp{
	float: left;
	position: absolute;
	left: calc(50% - .3em);
	top: calc(50% - .58em);
}