.dcMenu {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden; 
	width: 300px;
	height: 100%;
	background: #00328B;
	color: white;
	z-index: 1;
	transition: all 0.5s;
	transform: translate3d(-50%, 0, 0);
	text-align: right;
	padding: 2em;
}

.dcMenu h2 {
	margin: 0;
	color: white;
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2.5em;
}

.dcMenu ul, .dcMenu a {
	list-style: none;
	color: rgb(194, 194, 194);
	font-size: 1.1em;
}

.dcMenu a {
	text-decoration: none;
}

.dcMenu ul {
	margin-bottom: 3em;
}

.dcMenu li {
	margin-bottom: 1em;
}

.dcMenu li a.active{
	color: rgb(124, 124, 124);
}

.dcThemeSelector {
	border-top: 1px solid white;
}

.dcThemeSelector h2 {
	margin-top: .5em;
}