.dcFooter{
	display: flex;
	position: relative;
	background: #1C1B19;
	padding: 6px;
	color: white;
	text-align: center;
}

.dcFooter a {
	color: white;
	text-decoration: none;
	font-size: 2em;
}

.dcFooterCaption a{
	font-size: .8em;
}

.dcFooterCaption, .dcFooterLeft, .dcFooterRight {
	flex: 1 auto;
	align-self: center;
}

.dcFooterCaption {
	font-size: .8rem;
	font-family: serif;
	letter-spacing: 3px;
	/*position: absolute;*/
	/*flex: initial;*/
	left: calc(50% - 8em);
	top: calc(50% - .5em);
}

.dcFooterRight {
	font-size: .6em;
}
