*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body, #content, .dcApp {
	font-family: 'Roboto';
	font-size: 14px;
}

.dcApp {
	opacity: 1;
	overflow: hidden;
	/*background-color: #1C1B19;*/
}

.dcApp.loading {
	opacity: 0.2;
	transition: opacity 600ms;
}

.dcPusher {
	position: relative;
	left: 0;
	z-index: 99;
	min-height: 100vh;
	width: 100%;
	perspective: 1000px;
	transition: transform 0.5s;
}

.dcPusherOverlay {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.dcContentWrapper {
	position: relative;
	transform-style: preserve-3d;
	overflow-y: auto;
	overflow-x: hidden;
}

/*.dcContentWrapperInner {
	overflow-y: auto;
	overflow-x: hidden;
}*/


/* Open state */
.dcApp.dcMenuOpen .dcMenu{
	visibility: visible;
	transition: transform 0.5s;
	transform: translate3d(0, 0, 0);
}

.dcApp.dcMenuOpen .dcPusher {
	transform: translate3d(300px, 0, 0);
}

.dcApp.dcMenuOpen .dcPusherOverlay {
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 0.5s;
	z-index: 1040;
}