.dcSandwichSlider1Container {
	padding: 28px 10%;
	background-color: #A32526;
	position: relative;
}

.dcSandwichSlider1 {
	width: 100%;
	height: 50px;
}

.dcSandwichSlider1 .handle {
	width: 78px;
	height: 30px;
	line-height: 30px;
	font-size: 0.9em;
	text-align: center;
	background-color: white;
	color: white;
	cursor: pointer;
	border-radius: 6px;
	vertical-align: middle;
	top: 10px;
	z-index: 3 !important;
}

.dcSandwichSlider1 .handle:before {
	content: 'SANDWICHES';
	color: #A52723;
	line-height: 0;
	font-size: 0.8em;
	font-weight: bold
}

.dcSandwichSlider1 .bar {
  /*top: 15px;
	height: 10px;
	border-bottom: 2px dashed #C54848;*/
	/*background-image: linear-gradient(to right, rgb(197, 72, 72) 40%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 10px 1px;
	background-repeat: repeat-x;*/
}
.dcSandwichSlider1Dash {
	height: 0px;
	border-bottom: 2px dashed rgb(197, 72, 72);
	position: relative;
	top: -26px;
}

.dcSandwichSlider1Value {
	position: absolute;
	z-index: 2;
	left: calc(50% - .6em);
	min-width: 1.2em;
	top: calc(50% - .7em);
	font-size: 4.4em;
	font-weight: 100;
	color: white;
	background: rgb(163, 37, 38);
	text-align: center;
}