.theme1 {
	position: relative;
	.dcHeader {
		background: #A32526;
		color: white;
		font-size: 1.4em;
	}

	.dcPusher {
		background: black;
	}

	.dcRatioMeat, .dcRatioCheese, .dcWeightMeat, .dcWeightCheese {
		padding: 0;
		color: #000;
		border: transparent;
	}

	.dcWeight, .dcRatio {
		min-height: 215px;
	}

	.dcWeight {
		background: #e8e3e1;
		border-bottom: 1px solid #D0CACA;
	}
	.dcRatio {
		background: #e8e3e1;
	}

	.dcRatioMeat, .dcRatioCheese {
		align-self: flex-end;
	}

	.dcWeightCaption, .dcRatioCaption {
		background: transparent;
		color: #A32526;
		line-height: 2em;
		font-size: .3em;
		font-weight: normal;
		position: absolute;
		top: 20px;
		left: 20px;
	}

	.dcSliderInputInc, .dcSliderInputDec {
		color: #989494;
		font-size: .7em;
		position: relative;
	}


	.dcSliderInputEl {
		color: #000;
		font-weight: 100;
	}

	.dcFooter {
		background: #000;
		padding: 6px 0;
	}
	.dcFooterCaption {
		font-family: sans-serif;
		letter-spacing: normal;
		a {
			color: #C8C8C8;
		}
	}

	.gcSandwich {
		position: absolute;
		top: ~"calc(50% - 75px)";
		left: ~"calc(50% - 75px)";

		input {
			height: auto !important;
			margin-top: .6em !important;
			color: #000 !important;
			font-weight: 100 !important;
		}
	}

	.dcResetBtn {
		position: absolute;
		top: 50%;
		left: ~"calc(50% - 26px)";
		background: rgb(153, 153, 153);
		color: white;
		font-size: .8rem;
	}
}

