.dcSliderInput {
	text-align: center;
}
.dcSliderInputEl {
	text-align: center;
	width: 100%;
	border: none;
	outline: none;
	font-size: 2em;
	font-weight: 100;
	padding: 0;
	margin: 0;
	background: transparent;
}

.dcSliderInputInc, .dcSliderInputDec {
	border: 0;
	outline: none;
	background: transparent;
	color: #A9A59C;
	width: 85px;
	display: inline-block;
}