.dcResetBtn {
	display: inline-block;
	padding: 3px 8px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;

	color: #333;
	background-color: #fff;
	border-color: #ccc;
	text-decoration: none;

	
}