.dcRatio {
	display: flex;
	position: relative;
	text-align: center;
	font-size: 2em;
}

.dcRatioMeat, .dcRatioCheese {
	flex: 1;
}

.dcRatioCaption {
	background-color: white;
	font-size: .3em;
	font-weight: bold;
	display: inline-block;
	float: left;
	position: absolute;
	top: 50%;
	left: calc(50% - 1.5em);
}