.gcSandwich{
	/*display: flex;*/
	text-align: center;
	position: relative;
	margin: 0 auto;
	z-index: 2;
}

.gcSandwich input {
	outline: none;
}

.gcSandwichCaption {
	font-size: .7em;
	position: absolute;
	left: calc(50% - 3em);
	top: 70%;
	color: #7E7E7E;
}
