.theme2  {
	position: relative;
	.dcHeader {
		background: white;
		color: #A42424;
		font-size: 1.6em;
	}

	.dcPusher {
		background: #1C1B19;
	}

	.dcRatioMeat, .dcRatioCheese, .dcWeightMeat, .dcWeightCheese {
		padding: 7px 0;
	}

	.dcWeight, .dcRatio {
		background: #A32526;
		border-bottom: 1px solid #CE5051;
	}

	.dcWeightMeat, .dcRatioMeat {
		border-right: 1px solid #CE5051;
	}

	.dcWeightCheese, .dcRatioCheese {
		border: none;
	}

	.dcWeightCaption, .dcRatioCaption {
		background-color: #A32526;
		color: #CE5051;
		line-height: 2em;
		font-size: .34em;
		font-weight: normal;
	}

	.dcSliderInputInc, .dcSliderInputDec {
		color: #CE5051;
		font-size: .7em;
	}

	.dcSliderInputEl {
		color: white;
	}
	
	.dcWeight .dcSliderInputEl {
		font-weight: normal;
	}

	.dcResetBtn {
		position: absolute;
		top: 227px;
		left: ~"calc(50% - 26px)";
		background: #FCFCFC;
		color: rgb(139, 139, 139);
		font-size: .8rem;
	}
}

